<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>This is About page</title>
</head>
<body>
<section>
    <div class="container">
        <div class="card">
            <div class="card-body my-5">
                <div class="container text-center">
                    <img style="height: 200px; width:200px" class="my_profile_picture" src="" th:src="@{'/img/contact_logo.png'}" alt="">
                </div>
            </div>
            <h1 class="text-center mt-3 text-secondary font-italic font-weight-light">
                Start adding your contacts on cloud ...
            </h1>
            <div class="text-center mx-3">
                <a th:href="@{/user/add-contact}" class="btn btn-primary btn-block text-uppercase mt-4" > Add new contact</a>
            </div>

            <hr>

            <!-- Donation Section -->
            <h3 class="my-3 mx-3">Donate Us</h3>
            <div class="text-center mx-3">
                <input id="payment_field" type="text" class="form-control my-2" placeholder="Enter amount here ...">
            </div>
            <div class="container text-center mt-3">
                <button onclick="paymentStart()" class="btn btn-success">Checkout</button>
            </div>

        </div>
    </div>
    <!--Declared inside section hence jQuery in base page is declared in the head tag-->
    <script>
        $(document).ready(()=>{
            $(".item").removeClass("active");
            $("#home-link").addClass("active");
        })
    </script>
</section>
</body>
</html>